
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/OperationManager/Views/Shared/_Layout.cshtml";
    TempData["Title"] = "Uyulması Gereken Kurallar";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel-danger">
            <div class="panel-heading">
                <h5>
                    AÇIK ALANLARDA DÜZENLENECEK OLAN FUARLARDA ALINACAK ÖNLEMLER VE UYULMASI GEREKEN KURALLAR
                </h5>
            </div>
            <div class="panel-body">
                <p>
                    Dünyada ve ülkemizde yaşanan COVID-19 salgını nedeniyle açık alanda düzenlenecek yurt içi fuarlarda aşağıda belirtilen hususlara riayet edilecektir.
                    <br />
                    1) Fuar alanının tüm giriş ve çıkışları kontrol altına alınacaktır. ( turnike vb.)
                    <br />
                    2) Fuar alanına girişte ve fuar alanında katılımcılar, fuar alanı görevlileri ve ziyaretçiler maske kullanacaktır.
                    <br />
                    3) Fuarı düzenleyen firma tarafından fuar alanına giriş yapan katılımcı, fuar alanı görevlileri ve ziyaretçilerin ateşinin ölçülmesine yönelik tedbir alınacaktır. Ateşi 38 derece üzerinde olanların fuar alanına girişine izin verilmeyecek ve bu kişiler sağlık  kuruluşuna yönlendirilecektir.
                    <br />
                    4) Hasta ve hastalık belirtisi gösteren, izolasyonda bulunması gereken katılımcı ve görevliler fuar alanına alınmayacaktır.
                    <br />
                    5) Fuarı düzenleyen firma tarafından fuar alanına girişlerde ve her stantta el antiseptiği bulundurulacaktır.
                    <br />
                    6) Fuar alanında katılımcılar, görevliler ve ziyaretçiler dâhil kişi sayısı her dört (4)metrekareye bir kişi olacaktır.
                    <br />
                    7) Fuar alanına giren ziyaretçi sayısı belirlenerek ziyaretçi kapasitesine ulaşıldığında yeni ziyaretçi alınmayacak ve sosyal mesafe kuralına göre bekletilecektir.
                    <br />
                    8) Fuar alanında stantlar, arasında en 3 metre mesafe bulunacak şekilde yerleştirilecektir.
                    <br />
                    9) Stantların önünde zemine sosyal mesafenin korunmasını sağlayacak işaretler  konulacaktır.
                    <br />
                    10) Fuar alanında katılımcılar ve ziyaretçilerin sosyal mesafeye uymasına yönelik tedbirler alınacaktır.
                    <br />
                    11) Ziyaretçiler fuar alanında sosyal mesafeye uymaları konusunda uyarılacaktır.
                    <br />
                    12) Tuvaletlerde %70 alkollü el antiseptiği bulundurulacaktır.
                    <br />
                    13) Tuvaletlerin zeminleri, klozetler, pisuarlar, lavabolar, musluk ve batarya başlıkları, kapı kolları T.C. Sağlık Bakanlığı’nın ilgili rehberine göre temizlenecektir.
                    <br />
                    14) Tuvaletlerde eksik malzeme olmayacak, devamlı sıvı sabun, tuvalet kağıdı ve kağıt havlu bulundurulacaktır.
                    <br />
                    15) El kurutma fanları kullanıma kapatılacaktır.
                    <br />
                    16) Fuar alanında kurallara uyum denetlenecektir.
                </p>
            </div>
        </div>
    </div>
</div>
