
@{
    ViewBag.Title = "Index";
    TempData["Title"] = "Başarı istediğini elde etmek, mutluluksa elde ettiğini sevmektir. ";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card card-dark">
            <div class="card-header">
                <center><h3>SATIŞIN AŞAMALARI</h3></center>
            </div>
            <hr />
            <div class="card-body">
                <p>
                    <strong>Temelde satışın aşamaları şunlardır:</strong>
                    <br />
                    1) Satış öncesi hazırlık
                    <br />
                    2) Müşteriyi karşılama
                    <br />
                    3) Müşterinin istek ve ihtiyaçlarını anlamak için sorular sormak
                    <br />
                    4) Uygun ürünü sunmak
                    <br />
                    5) Ürün hakkında bilgi vermek, ürünün özellik ve faydalarını aktarmak
                    <br />
                    6) Satış türlerine göre satış yapmak
                    <br />
                    7) İtirazlarla ilgilenmek
                    <br />
                    8) Sorulara cevap vermek
                    <br />
                    9) Kasa ve paketleme
                    <br />
                    10) Satış sonrası hizmet
                    <br />
                    <strong>SATIŞTA BAŞARININ FORMÜLÜ :</strong>
                    <br />
                    BİLGİ + BECERİ + TUTUM = SATIŞ
                    <br />
                    Satış öğrenmeye açık olanların işidir ve sürekli kişisel gelişim gerektirir. Satış elemanı müşterisinden işine duyduğu sevgi ve saygı oranında ilgi görür. Yaşam enerjisiyle dolu ve dünyaya pozitif bakan satış elemanları müşteriyi olumlu yönde daha çok etkiler. Satış müşteriyi ikna etme sanatıdır ve ikna etmek için bilgi gerekir. Sattığı ürünle ilgili bilgi sahibi olan satış elemanı daima daha fazla başarılı olacaktır.
                    <br />
                    <strong>Satış elemanı iyi bir satışçı olmak istiyorsa şu noktaları asla göz ardı etmemelidir.</strong>
                    <br />
                    •    Satıcı olarak doğulmaz, sonradan çalışarak ve alanında bilgilenerek satıcı olunur
                    <br />
                    •    Hizmet vermede bir tarz oluşturmak
                    <br />
                    •    Dinamik, aktif ve hızlı olmak.
                    <br />
                    •    Güleryüzlü, espirili olmak ve stresten uzak durmak
                    <br />
                    •    Düzgün konuşmak, dinlemesini bilmek ve beden dilini iyi kullanmak
                    <br />
                    •    Dış görünüşüne dikkat etmek
                    <br />
                    •    Abartılı davranmamak ve doğal olmak
                    <br />
                    •    İşinde dikkatli ve özenli davranmak
                    <br />
                    •    Kendini geliştirmek, değişime hazır olmak ve kendine güvenmek
                    <br />
                    •    Müşteriye istediği hizmetin de ötesinde hizmet verebilmek
                    <br />
                    •    Her müşterinin farklı olduğunu kabul ederek müşteriye uygun taktik geliştirmek
                    <br />
                    •    Yaratıcı ve hırslı olmak ancak sabırlı davranmak.
                    <br />
                    •    Satışa yönelik hizmet sunmak
                    <br />
                    •    Takım çalışmasına önem vermek
                    <br />
                    •    Satışı yönlendirmek ancak müşteriye insiyatifin kendisinde olduğu düşündürmek
                    <br />
                    •    Müşterinin uzun dönemli bir yatırım olduğunu unutmamak
                </p>
            </div>
        </div>
    </div>
</div>

