
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <center><h2 style="color:seagreen"><b>Fuar101</b></h2></center>
                <br />
                <center><h4>* Fuar101 1996 yılından bu güne Tüm Dunyanin En Buyuk Orginasyoneri *</h4></center>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="container">
                <div class="col-lg-12">
                    <div class="swal2-styled">
                        <i class="icon-prev"> </i>
                        <h4><b style="color:red">+10000</b> Müşteri Deneyimi</h4>

                        <p>1992 yılından bu yana, A grubu Seyahat Acentası ( Türsab A -2338 ) olarak Türkiye´de ve tüm dünyada hizmet vermekte olan firmamız, ilk hedef olarak bizimle birlikte organizasyonlarımıza katılan değerli müşterilerimizin mutluluğunu kendine ilke edinmiştir.</p>
                        <p>Fuar101 olarak uzun yıllar boyunca yurt dışında yapmış olduğumuz Fuar tur organizasyonları, kongre , toplantı , stand, ikili iş görüşmeleri yapılmıştır.</p>

                        <h4><b style="color:red">+10000</b> <b>Organizasyon Deneyimi</b></h4>

                        <p>Deneyim,tecrübe ve güvenle Dünya’ daki tüm ülkelere iş ve fuar gezileri ile birlikte ikili iş görüşmeleri düzenlemekteyiz.Bir çok kurum ve kuruluşun iş ve fuar gezileri ile ikili iş görüşmelerinin organizasyonunu başarıyla gerçekleştirdik. Birçok sektörel fuarların Türkiye resmi satış temsilciliğini de yürütmekteyiz.</p>
                        <p>Fuar101 FuarTakip ile Online Sanal Fuarları 365 gün açık tutarak ekonomiye destek olmayı hedefliyoruz .</p>

                        <h4><b>Misyonumuz</b></h4>

                        <p>Dünya genelindeki sanal fuar platform profesyonellerin birbirleriyle iletişim kuracakları bir ortam yaratarak daha üretken ve daha başarılı olmalarını sağlamak.</p>

                        <h4><b>Vizyonumuz</b></h4>

                        <p>Küresel iş gücünün her sanal fuar platform üyesi için ekonomik fırsatlar yaratmak. Katılımcı firmaların ticaret ağını genişletmek ve ülke ihracaatına katkı sağlamak</p>

                        <h4><b>İlkelerimiz</b></h4>

                        <p><b>Stratejik yönetim yaklaşımı</b> ile gelecek hedeflerimizi planlar, paydaşlarımızın aktif desteği ile bu hedeflerimize ulaşırız.</p>
                        <p><b>Etkin paydaş yönetimi yaklaşımı</b> ile tedarikçi ve iş birliklerimizle karşılıklı faydaya yönelik ilişkiler kurar ve geliştiririz.</p>
                        <p><b>Üye deneyimi yönetimi yaklaşımı</b> ile üyelerimizin beklentilerini adillik, tarafsızlık ve gizlilik ilkesi ile değerlendirir, olumlu deneyimlerini arttırmaya yönelik çözümler geliştiririz.</p>
                        <p><b>Sürekli gelişim yaklaşımı</b> ile süreçlerimizi etkinlik ve verimlilik ilkesiyle yönetir, teknolojik gelişimlerle destekleriz.</p>
                        <p>
                            <b>Bilgi güvenliği yaklaşımı</b>ile kurumsal ve kişisel bilgi varlığını gizlilik, bütünlük ve erişebilir olma boyutlarında değerlendirerek güvence altına alırız.
                        </p>
                        <p>Bu çerçevede ulusal ve uluslararası tüm standartları referans alarak, İlkelerimiz, değerlerimiz ve etik kurallarımız ışığında birlikte başarmayı ve bunun için gerekli kaynakları sağlamayı taahhüt ederiz.</p>

                        <h4><b>Hedeflerimiz</b></h4>

                        <p>Tarafınıza, uzun süre kapsamlı, özenle hazırlanmış ve faydalı olacağını düşündüğümüz, sektörlerinizi yakından ilgilendiren Uluslararası Sektörel Fuar çalışmamızı sunmaktayız.</p>
                        <p>Rehber olacağını bildiğimiz sanal fuarlar platformundan faydalanarak, her sene yapılmakta olan Ticaret Fuarlarındaki gelişmeleri yakından takip etmek ve bu pazarlardaki pazar paylarınızı artırmak sizlerin elinde, gelin dünyamızdaki son teknolojik yenilikleri birlikte yakalayalım.</p>
                        <p>Amacımız, zamanın ve teknolojinin hızla değiştiği çağımızda, yenilikleri sizlerin adına takip etmek ve GÜRTOUR & FuarTakip tecrübesi ile birleştirerek uygun ekonomik koşullar çercevesinde en iyi hizmeti sizlere sunmayı hedefliyoruz.</p>
                        <p>Tanımak ve birlikte çalışmaktan mutluluk duyacağımız şirketinize, sektörünüzle ilgili ihtiyaç duyacağınız her konuda yardımcı olmak bizlere gurur ve kıvanç verecektir.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


